/*
File to store the styling informating for the classes.html, projects.html, and me.html pages.
*/

.titleText{
    border-radius: 3.3em;
    text-align: center;
    font-size: 1.13em;
    color: white;
    background-color: pink;
    font-family: "Lucidia Handwriting", cursive;
    padding: 0.3em;

}
.headerText{
    border-radius: 3.3em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: powderblue;
    padding: 0.2em;
    font-family: "Lucidia Handwriting", cursive;
}
.bodyText{
    color: white;
    text-align: center;
}
.matchingImg{
    border-radius: 1.5em;
    display: block;
    margin: auto;
}
/*
.catImg{
    border-radius: 1.5em;
    display: block;
    margin: auto;
}
*/
.column{
    flex: 5%;
}
.row{
    display: flex;
    flex-grow:4;
    justify-content: center;
    
}